In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
ratings=pd.read_csv('ratings_small.csv')

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
ratings.rename(columns={'movieId':'id'}, inplace=True)

In [5]:
data=movies[['id','title']]

In [6]:
data=data.merge(ratings, on='id')

In [7]:
data

,id,title,userId,rating,timestamp
0,285,Pirates of the Caribbean: At World's End,39,4.0,832523436
1,559,Spider-Man 3,492,5.0,898111329
2,767,Harry Potter and the Half-Blood Prince,30,4.0,990239999
3,58,Pirates of the Caribbean: Dead Man's Chest,19,3.0,855190167
4,58,Pirates of the Caribbean: Dead Man's Chest,23,3.5,1148672099
...,...,...,...,...,...
18566,473,Pi,232,1.0,955091760
18567,473,Pi,285,1.0,965093344
18568,473,Pi,564,1.0,974837960
18569,2292,Clerks,518,4.0,945362108
18570,692,Pink Flamingos,247,2.0,953272764

In [19]:
# cinephiles
user_no_rating=data.groupby('userId')['rating'].count()>100
cinephiles=user_no_rating[user_no_rating].index
len(cinephiles)

31

In [9]:
cinephiled_data=data[data['userId'].isin(cinephiles)]

In [10]:
cinephiled_data

,id,title,userId,rating,timestamp
2,767,Harry Potter and the Half-Blood Prince,30,4.0,990239999
3,58,Pirates of the Caribbean: Dead Man's Chest,19,3.0,855190167
4,58,Pirates of the Caribbean: Dead Man's Chest,23,3.5,1148672099
11,58,Pirates of the Caribbean: Dead Man's Chest,102,4.0,956598787
25,58,Pirates of the Caribbean: Dead Man's Chest,358,5.0,957479201
...,...,...,...,...,...
18565,1779,Roger & Me,654,3.0,1145393492
18566,473,Pi,232,1.0,955091760
18567,473,Pi,285,1.0,965093344
18568,473,Pi,564,1.0,974837960
18569,2292,Clerks,518,4.0,945362108

In [16]:
movies_with_more_than_50_ratings=cinephiled_data.groupby('title')['rating'].count()>50
rated_movies=movies_with_more_than_50_ratings[movies_with_more_than_50_ratings].index
rated_movies

Index([], dtype='object', name='title')

In [12]:
rated_data=cinephiled_data[cinephiled_data['title'].isin(rated_movies)]

In [13]:
rated_data.head()

Empty DataFrame
Columns: [id, title, userId, rating, timestamp]
Index: []

C:\Users\Gamer\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

TypeError: unhashable type: 'Series'